use std::sync::Mutex;

pub struct ThanixClient {{
    client: reqwest::blocking::Client,
    base_url: String,
    authentication_token: String,
}}

pub static THANIX_CLIENT: Mutex<Option<ThanixClient>> = Mutex::new(None);
